In [ ]:


import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

# Introduce some missing values for demonstration
import numpy as np
np.random.seed(0)
missing_mask = np.random.choice([True, False], size=iris_df.shape, p=[0.1, 0.9])
iris_df[missing_mask] = np.nan

# Check which values are missing
print("Missing values in the dataset:")
print(iris_df.isnull().sum())

# Impute missing values with mean
iris_df_filled = iris_df.fillna(iris_df.mean())

# Check if missing values have been filled
print("\nMissing values after imputation:")
print(iris_df_filled.isnull().sum())


# # **DATAFRAMES:Creating an empty Dataframes**

In [ ]:


import pandas as pd
import numpy as np
 
# Calling DataFrame constructor
df = pd.DataFrame()
 
print(df)

In [ ]:


data.loc[ data.marks>= 15]

In [ ]:





# # ATTRIBUTES OF DATAFRAME
#

In [ ]:


import pandas as pd
Dict={"Marketing":{"Name":"Raja","Age":34,"Gender":"M"},
      "Sales":{"Name":"Parul","Age":30,"Gender":"F"}}

In [ ]:


Df=pd.DataFrame(Dict)
print(Df)
print(Df.index)

In [ ]:


print(Df)
#print(Df.columns)
#print(Df.axes)
#print (Df.dtypes)
#print(Df.size)
#print(Df.shape)
#print(Df.ndim)
print(Df.empty)


# # LOC(Label Indexing) n ILoc(Integer Indexing)
# DF.loc[StartRow:endRow,StartCol:EndCol]

In [ ]:


import pandas as pd
Data={"Name":["ram","sunder","poonam","neha","priya","sarthak","akash"],
     "Class":["12A","11A","11B","11C","12B","12C","11D"],
     "Marks":[11,23,23,11,23,34,14],
              "City":["Kanpur","Goa","Mumbai","Delhi","Jaipur","Kolkata","delhi"]}
S=pd.DataFrame(Data,index=["R1","R2","R3","R4","R5","R6","R7"])
print(S)

In [ ]:


S.loc[S.Marks>=15]

In [ ]:


S.loc[(S.Marks>15) & (S.City=='Goa')]

In [ ]:


S.loc[1:3]

In [ ]:


# Select few columns with a condition
S.loc[(S.Marks>=15),['City','Name']]

In [ ]:


# Update columns with a condition
S.loc[(S.Marks>=15),['City']]='Chandigarh'
S

In [ ]:


# Update columns with a condition
S.loc[(S.Marks>=25),['City','Class']]=['Brazil','BCA']
S

In [ ]:


#Select Rows(1-2),Columns(2-3)

In [ ]:


#print(S.Name)
#print(S["Name"])
#print(S[["Name","Class","City"]])
print(S["Name"],["R3"])

In [ ]:


import pandas as pd
Data={"Name":["ram","sunder","poonam","neha","priya","sarthak","akash"],
     "Class":["12A","11A","11B","11C","12B","12C","11D"],
     "Marks":[11,23,23,11,23,34,14],
              "City":["Kanpur","Goa","Mumbai","Delhi","Jaipur","Kolkata","delhi"]}
S=pd.DataFrame(Data,index=["R1","R2","R3","R4","R5","R6","R7"])
print(S)
#print(S.loc["R3"])
print(S.loc[["R3","R7"]])

In [ ]:


print(S.loc["R1":"R3"])

In [ ]:


print(S.loc["R2":"R7"])

In [ ]:


print(S.loc["R1":"R7":2])
#print(S.loc["R1":"R7":3])

In [ ]:


#print(S.loc[:])
print(S.loc[:"R3"])

In [ ]:


print(S.loc["R3":])

In [ ]:


print(S.loc[:,["Name","City"]])

In [ ]:


print(S)
print(S.loc[:,"Name":"City":2])

In [ ]:


print(S)
print(S.loc["R1":"R7":2,["Name","Marks"]])

In [ ]:


print(S)
print(S.loc[["R2","R3","R4"],["Class","Marks"]])

In [ ]:


print(S)
print(S.loc[["R6","R7"],["Marks","City"]])

In [ ]:


### ILOC  ##
print(S)
print(S.iloc[[5,6],[0,3]])

In [ ]:


print(S)
#print(S.loc["R1":"R7":2,["Name","City"]])
#print(S.loc["R1":"R7":2,"Name":"City":3])
print(S.iloc[0:6:2,0:3:3])

In [ ]:


import pandas as pd
Data={"Name":["ram","sunder","poonam","neha","priya","sarthak","akash"],
     "Class":["12A","11A","11B","11C","12B","12C","11D"],
     "Marks":[11,23,23,11,23,34,14],
              "City":["Kanpur","Goa","Mumbai","Delhi","Jaipur","Kolkata","delhi"]}
S=pd.DataFrame(Data)
print(S)

print(S.loc[0:7:2,"City"])
print(S.loc[0:2,"City"])
print(S.iloc[0:2,0])


# # **Creating a Dataframe using List**
# It can be created using a single list or list of lists
#

In [ ]:


# list of strings
lst = ['apple', 'orange', 'grapes', 'papaya','pineapple']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)


# # **Creating DataFrame from dict of lists/ndarray**
# To create DataFrame from dict of narray/list, all the narray must be of same length. 
# If index is passed then the length index should be equal to the length of arrays.
# If no index is passed, then by default, index will be range(n) where n is the array length. 
#

In [ ]:


import pandas as pd

# initialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

In [ ]:


d = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}
pd.DataFrame(d)

In [ ]:


pd.DataFrame(d, index=["a", "b", "c", "d"])

In [ ]:


import pandas as pd

data = {
    'Math': [85, 90, 75],
    'Science': [80, 88, 72],
    'English': [88, 82, 90]
}

index = ['Alice', 'Bob', 'Charlie']

df = pd.DataFrame(data, index=index)
print(df)

In [ ]:





# # Creating of Dataframe from ndArray

In [ ]:


# initialise data of lists.

data = {'Name':np.array(['Tom', 'nick', 'krish', 'jack']), 'Age':np.array([20, 21, 19, 18])}
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

In [ ]:


#NumPy array with a structured dtype, also known as a structured array, 
#allows you to create arrays where each element can have different data types or fields. This is particularly useful when
#dealing with heterogeneous data, such as tabular data with columns of different types (e.g., integers, floats, strings).

# Creating Dataframe with Structured dtype

import numpy as np
import pandas as pd

# Define the data as a NumPy array with structured dtype
data = np.array([('Tom', 20), ('nick', 21), ('krish', 19), ('jack', 18)],
               dtype=[('Name', 'U10'), ('Age', int)])

# Create a DataFrame using the NumPy array
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

In [ ]:


# Creating a DataFrame from NumPy arrays using a combination of lists and arrays

import numpy as np
import pandas as pd

# Define the data as a list of lists
data_list = [['Tom', 20], ['nick', 21], ['krish', 19], ['jack', 18]]

# Convert the list of lists to a NumPy array
data_array = np.array(data_list)

# Create a DataFrame using the NumPy array
df = pd.DataFrame(data_array, columns=['Name', 'Age'])

# Print the DataFrame
print(df)


# # **Creating DataFrame from dict of Series or dicts**
# The resulting index will be the union of the indexes of the various Series. If there are any nested dicts, these will first be converted to Series. If no columns are passed, the columns will be the ordered list of dict keys.

# # **Creating dataframe from a Dict of Series**
# The resulting index will be the union of the indexes of the various Series. If there are any nested dicts, these will first be converted to Series. If no columns are passed, the columns will be the ordered list of dict keys.

In [ ]:


# creation of dataframe from dictionary of series
d ={"one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"])}
print(d)

In [ ]:


df = pd.DataFrame(d)
df

In [ ]:


df1=pd.DataFrame(d, index=["d", "b", "a"])
df1

In [ ]:


df2=pd.DataFrame(d, index=["d", "b", "a"], columns=["two", "three"])
df2


# The row and column labels can be accessed respectively by accessing the index and columns attributes.

In [ ]:


df2.index

In [ ]:


df2.columns


# # **Creating dataframe from a List of Dicts**

In [ ]:


# Creation of dataframe from list containing 2 dictionaries

data2 = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]
pd.DataFrame(data2)

In [ ]:


pd.DataFrame(data2, index=["first", "second"])

In [ ]:


pd.DataFrame(data2, columns=["a", "b"])


# # **Creating a dataframe From a Series**
# The result will be a DataFrame with the same index as the input Series, and with one column whose name is the original name of the Series (only if no other column name provided).

In [ ]:


ser = pd.Series(range(3), index=list("abc"), name="ser")
pd.DataFrame(ser)

In [ ]:


import pandas as pd

# Create a pandas Series
s = pd.Series([1, 2, 3, 4, 5])

# Create a DataFrame from the Series
df = pd.DataFrame(s, columns=['Numbers'])

# Print the DataFrame
print(df)

In [ ]:


# creating Dataframe from Dict of Dict

import pandas as pd

# Define the dictionary of dictionaries with more meaningful data
data = {
    'StudentID': {'101': 'John', '102': 'Alice', '103': 'Bob'},
    'Age': {'101': 21, '102': 20, '103': 22},
    'Grade': {'101': 'A', '102': 'B', '103': 'C'}
}

# Create DataFrame from the dictionary of dictionaries
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

In [ ]:





# # **Some functions on Retrieval / Manipulation of Dataframes**

In [ ]:


data = {'state': ['Texas', 'Texas', 'Texas', 'California', 'California', 'California'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame


# # **Head method selects only the first five rows**
# You can also pass an integer value to tell how many rows you want to be displayed

In [ ]:


frame.head(3)

In [ ]:


frame.tail()

In [ ]:


# renaming the column "pop"
frame.rename(columns = {"pop": "population"}, inplace = True)

In [ ]:


frame

In [ ]:


my_list = [3, 1, 2]
sorted_list = sorted(my_list)  # inplace is not set to True
print(sorted_list)  # Output: [1, 2, 3]
print(my_list)      # Output: [3, 1, 2] (original list remains unchanged)

In [ ]:





# # **If you specify a sequence of columns, the DataFrame’s columns will be arranged in that order.**

In [ ]:


frame.rename(columns = {"population": "pop"}, inplace = True)
pd.DataFrame(data, columns=['year', 'state', 'pop'])


# If you pass a column that isn’t contained in the dict, it will appear with missing values in the result:

In [ ]:



frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four','five', 'six'])
frame2

In [ ]:


frame2.columns


# A column in a DataFrame can be retrieved as a Series either by **dict-like notation or by attribute**.
# frame2[column] works for any column name, but frame2.column only works when the column name is a valid Python variable name.

In [ ]:


frame2['state']

In [ ]:


frame2.state


# **Columns can be modified by assignment**. For example, the empty 'debt' column
# could be assigned a scalar value or an array of values

In [ ]:


frame2['debt'] = 16.5
frame2


# When you are assigning lists or arrays to a column, the value’s length must match the length of the DataFrame.

In [ ]:


np.arange(10.)

In [ ]:


frame2['debt'] = np.arange(6.)
frame2


# If you assign a Series, its labels will be realigned exactly to
# the DataFrame’s index, inserting missing values in any holes.

In [ ]:


val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
frame2


# Assigning a column that doesn’t exist will create a new column. The del keyword will delete columns as with a dict.

In [ ]:


frame2['New column']=0
frame2

In [ ]:


del frame2['New column']
frame2

In [ ]:


frame2.columns


# You can transpose the DataFrame (swap rows and columns) with similar syntax to a NumPy array

In [ ]:


a=frame2.T
a

In [ ]:


frame2

In [ ]:


import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank'],
    'Age': [25, 22, 28, 21, 24, 30],
    'Score': [85, 90, 75, 80, 95, 70]
}

df = pd.DataFrame(data)

# Sorting rows based on values in the 'Age' column (ascending order)
sorted_df_age_asc = df.sort_values(by='Age')

print("Sorted DataFrame based on Age (ascending order):")
print(sorted_df_age_asc)
print()

# Sorting rows based on values in the 'Score' column (descending order)
sorted_df_score_desc = df.sort_values(by='Score', ascending=False)

print("Sorted DataFrame based on Score (descending order):")
print(sorted_df_score_desc)

In [ ]:


import pandas as pd

# Student data
student_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    'Age': [20, 21, 19, 20, 22, 21, 20, 19, 20, 21],
    'Semester1_Marks': [550, 520, 590, 580, 560, 590, 580, 570, 540, 570],
    'Semester2_Marks': [480, 490, 470, 500, 490, 480, 500, 490, 480, 500],
    'Attendance': [95, 92, 97, 96, 93, 95, 94, 98, 96, 95]
}

# Create DataFrame
df_students = pd.DataFrame(student_data)

# Display DataFrame
print(df_students)

In [ ]:


import pandas as pd

# Student data
student_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    'Age': [20, 21, 19, 20, 22, 21, 20, 19, 20, 21],
    'Semester1_Marks': [100, 520, 590, 580, 560, 590, 580, 570, 540, 570],
    'Semester2_Marks': [480, 490, 470, 500, 490, 480, 500, 490, 480, 500],
    'Attendance': [95, 92, 97, 96, 93, 95, 94, 98, 96, 95]
}

# Create DataFrame
df_students = pd.DataFrame(student_data)

# Display the details of students who scored more than 560 marks in semester 1
#print("Students who scored more than 560 marks in semester 1:")
#print(df_students[df_students['Semester1_Marks'] > 560])

# Display the details of students who scored less than 250 marks in semester II
#print("\nStudents who scored less than 250 marks in semester II:")
#print(df_students[df_students['Semester2_Marks'] < 250])

# Display details of students who scored minimum marks in semester II
#print("\nDetails of students who scored minimum marks in semester II:")
#print(df_students[df_students['Semester2_Marks'] == df_students['Semester2_Marks'].min()])
#min_sem_marks=df_students['Semester2_Marks'].min()
#print(min_sem_marks)
min_marks=df_students. nsmallest(1,'Semester2_Marks')
print(min_marks)


# Display details of students who scored maximum marks in semester II
#print("\nDetails of students who scored maximum marks in semester II:")
#print(df_students[df_students['Semester2_Marks'] == df_students['Semester2_Marks'].max()])

# Display details of students whose attendance is more than 75
#print("\nDetails of students whose attendance is more than 75:")
#print(df_students[df_students['Attendance'] > 75])

# Display details of students whose attendance is less than 50
#print("\nDetails of students whose attendance is less than 50:")
#print(df_students[df_students['Attendance'] < 50])

# Insert 2 new records in dataframe
#new_records = pd.DataFrame({'Name': ['Kate', 'Liam'], 'Age': [22, 20], 'Semester1_Marks': [580, 570], 'Semester2_Marks': [490, 500], 'Attendance': [90, 85]})
#df_students = df_students.append(new_records, ignore_index=True)

# Add a new column corresponding to percentage of marks in 2 semesters
#df_students['Percentage'] = 0
#((df_students['Semester1_Marks'] + df_students['Semester2_Marks']) / 1100) * 100

# Display updated DataFrame
#print("\nUpdated DataFrame with new records and percentage column:")
#print(df_students)

In [ ]:


# Define a function to assign grades based on percentage
def assign_grade(percentage):
    if percentage >= 90:
        return 'O'
    elif percentage >= 75:
        return 'A+'
    elif percentage >= 60:
        return 'A'
    elif percentage >= 50:
        return 'B+'
    elif percentage >= 40:
        return 'B'
    else:
        return 'F'

# Apply the function to calculate grades for each row
df_students['Grade'] = df_students['Percentage'].apply(assign_grade)

# Display updated DataFrame with grades
print("\nUpdated DataFrame with grades:")
print(df_students)

In [ ]:


s = pd.Series(data, index=index)
#Here, data can be many different things: **an ndarray**

In [ ]:


obj = pd.Series([4, 7, -5, 3])
obj


# The string representation of a Series displayed interactively shows the index on the
# left and the values on the right. Since we did not specify an index for the data, a
# default one consisting of the integers 0 through N - 1 (where N is the length of the
# data) is created.

In [ ]:


Get the array representation and index object of the Series via
its values and index attributes, respectively

In [ ]:


obj.values

In [ ]:


obj.index


# create a Series with an index identifying each data point
# with a label:

In [ ]:


obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

In [ ]:


obj2.index


# You can use labels in the index when selecting single values or a set of values

In [ ]:


obj2['a']

In [ ]:


obj2[['c', 'a', 'd']]


# Using NumPy functions or NumPy-like operations, such as filtering with a boolean
# array, scalar multiplication, or applying math functions, will preserve the index-value link

In [ ]:


s=pd.Series(90,index=["a","j","p","o"])
print(s)

In [ ]:


s=pd.Series(range(0,4),index=["a","j","p","o"])
print(s)

In [ ]:


s=pd.Series(range(0,4),index=range(0,4))
print(s)

In [ ]:


s=pd.Series([5,"7"])
print(s)

In [ ]:


k=(3,4,7,8,9,6,5,2)
s=pd.Series(k,index=["a","j","p","q","r","l","m","n"])

print(s["a"])

print(s[0:3])

print(s["a":"q"])

print(s["a":"q":2])
print(s[::-1])


# MODIFICATION

In [ ]:


k=(3,4,7,8,9,6,5,2)
s=pd.Series(k,index=["a","j","p","q","r","l","m","n"])
s["a"]=90
print(s)
s["a":"p"]=90
print(s)
s["a":"p"]=90,97,98
print(s)

In [ ]:


k=(3,4,7,8,9,6,5,2)
s=pd.Series(k,index=["a","j","p","q","r","l","m","n"])
s.name=90
s.drop("j")
print(s)

In [ ]:


# Dropping
k=(3,4,7,8,9,6,5,2)
s=pd.Series(k,index=["a","j","p","q","r","l","m","n"])
s.name=90
s.drop("j",inplace=True)
print(s)

In [ ]:


#Sorting
k=(3,4,7,8,9,6,5,2)
s=pd.Series(k,index=["a","j","p","q","r","l","m","n"])
#print(s.sort_values)
print(s.sort_values(ascending=False))

#print(s.sort_index)

In [ ]:


k=(30,4,7,88,7,8,10,0)
s1=pd.Series(k,index=["a","j","p","q","r","l","m","n"])
k=(3,4,70,8,7,8,None,0)
s2=pd.Series(k,index=["a","j","p","q","r","l","m","n"])
#print(s1>s2)
#print(s1>9)
#print(s1[s1>9])
#print(s1[s1==9])
#print(s1+s2)
#print(s1.add(s2))
#print(s1.add(s2))
print(s1.add(s2,fill_value=100))

In [ ]:





# # Read CSV Files
# A simple way to store big data sets is to use CSV files (comma separated files).
# 
# CSV files contains plain text and is a well know format

In [ ]:


#iris = load_iris()
#iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

df = pd.read_csv('dummy.csv')

In [ ]:


df.head()

In [ ]:


df.tail()


# # df.info()
# This function returns a quick summary of the DataFrame. This includes information about column names and their respective data types, missing values, and memory consumption by DataFrame. This function covers all the information which can be retrieved by individual attributess such as df.dtypes, df.columns, df.shape.

In [ ]:


df.info()

In [ ]:


df.dtypes

In [ ]:


type(df)

In [ ]:


df.columns

In [ ]:


df.shape


# # df.describe()
# This function returns descriptive statistics about the data. This includes minimum, maximum, mean (central tendency), standard deviation (dispersion) of the values in numerical columns, and the count of all non-null values in the data, as shown below.

In [ ]:


df.describe()


# # Pandas Functions to Select a Subset of the Dataset
# df.query()
# This function is used to query the DataFrame based on an expression. An expression can be as simple as a single condition and as complex as a combination of multiple conditions
#

In [ ]:


df.info()

In [ ]:


df.query('OrderID > 444772')

In [ ]:


df.query('Quantity > 80')


# # If columns contain spaces, Before applying the query() method, the spaces in column names have to be replaced with ‘_’.
# #df.columns =[column.replace(" ", "_") for column in df.columns]

In [ ]:


df13=df.query('Quantity > 80 and OrderCode > 444772')
df13

In [ ]:


#df.query('Quantity > 80 and OrderCode > 444772', inplace=True) #for multiple condition query, inplace=True is mandatory
#df

In [ ]:


df = pd.read_csv('dummy.csv')

In [ ]:


df[(df['Quantity']>80)]

In [ ]:


df[(df['OrderCode']>444772)]

In [ ]:


df[(df['Quantity']>80) & (df['OrderCode']>444772)]


# # Indexing and Selecting Data
# Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows and columns. 
# Indexing is also known as Subset Selection.
# 
# # Indexing a Dataframe using indexing operator [] :
# Indexing operator is used to refer to the square brackets following an object. 
#

In [ ]:


first=df["Status"]
first


# # The .loc and .iloc indexers also use the indexing operator to make selections.
# 
# df.loc
# 
# This function is a property of DataFrame that returns the group of rows and columns identified by their labels(row number) or names.
# 
# df.iloc
# 
# This function is again the DataFrame property which returns the same output as df.loc, but uses row and column numbers instead of their labels.

In [ ]:


df.loc[2:5] ## rows at index labels between 2 and 5 (inclusive)


# # loc

In [ ]:


df.loc[100,'Sales_Manager']

In [ ]:


df.iloc[100,6]

In [ ]:


df.loc[:, "Quantity"]


#  # iloc

In [ ]:


df.iloc[3,:]

In [ ]:


df.iloc[2:5] ## rows at index location between 2 and 5 (exclusive)

In [ ]:


df.iloc[100,6]

In [ ]:


df.iloc[100,6]='abc'

In [ ]:


df.iloc[100,6]

In [ ]:


df.iloc[[100, 200],[6,3]]

In [ ]:


df.iloc[2:5,3:7]


# # Pandas Functions to get Deeper Insights into the Dataset
# # df.unique()
# This function returns the list of unique values in a column or series. Instead of applying on complete DataFrame, it works only on the selected single column.
#

In [ ]:


df["Sales_Manager"].unique()


# # df.nunique()
# The nunique() method returns the number of unique values for each column.
# 
# Pandas dataframe.nunique() function return dataframe with number of distinct observations over requested axis. 
# 
# If we set the value of axis to be 0, then it finds the total number of unique observations over the index axis. 
# 
# If we set the value of axis to be 1, then it find the total number of unique observations over the column axis.
# 
# It also provides the feature to exclude the NaN values from the count of unique numbers.
# 
# Syntax: 
# DataFrame.nunique(axis=0, dropna=True)
# 
# Parameters :
# axis : {0 or ‘index’, 1 or ‘columns’}, default 0
# dropna : Don’t include NaN in the counts.

In [ ]:


df1 = pd.DataFrame({"A":[14, 40, 15, 4, 1],
                   "B":[5, 2, 54, 3, 2],
                   "C":[20, 20, 7, 3, 8],
                    "D":[14, 3, 6, 2, np.nan]})
df1

In [ ]:


df1.nunique() #same as df1.nunique(axis='index')  i.e. row or axis=0. Ignore Nan

In [ ]:


df1.nunique(axis='index')

In [ ]:


df1.nunique(axis='columns') #df1.nunique(axis = 1)

In [ ]:


df1.nunique(axis='columns', dropna=False)  #count NaN also, don't ignore it


# # Working with Missing Data

# # df.isnull()
# This function helps you to check in which row and which column your data has missing values.
# df.isnull() returns output in Boolean form — in terms of True and False — for all the rows in all columns.
#

In [ ]:


df1.isnull()

In [ ]:


df.isnull()


# # to select a subset of df, where the Product Category is missing

In [ ]:


df["Product_Category"].isnull()

In [ ]:


df2 = df[df["Product_Category"].isnull()]
df2

In [ ]:


df2.info()


# # df.notnull() :
# notnull() function helps in checking whether a value is not Nan.
#

In [ ]:


df3 = df[df["Product_Category"].notnull()]
df3

In [ ]:


df3.info()


# # Filling missing values using fillna(), replace() and interpolate() 
# In order to fill null values in a datasets, we use fillna(), replace() and interpolate() function. These functions replace NaN values with some value of their own. All these functions help in filling a null values in datasets of a DataFrame. 
# Interpolate() function is basically used to fill NA values in the dataframe but it uses various interpolation technique to fill the missing values rather than hard-coding the value.
# 
# ## fillna() - complete description is in ppt

In [ ]:


df = pd.DataFrame([[np.nan, 3, np.nan, 0],
                   [4, np.nan, np.nan, 2],
                   [np.nan, np.nan, np.nan, 6],
                   [5, 4, np.nan, 5]],
                  columns=list('PQRS'))
df

In [ ]:


df.fillna(value=0)  # not in-place

In [ ]:


df

In [ ]:


df.fillna(method='bfill') #We can also propagate non-null values forward or backward:

In [ ]:


df


# # df.pad()
# By using the DataFrame.pad() method, we can fill all null values or missing values in the DataFrame. It fills the missing values by using the ffill method of pandas

In [ ]:


df.pad()

In [ ]:


df

In [ ]:


df.fillna(method='bfill')

In [ ]:


df

In [ ]:


values = {'P':0, 'Q':2, 'R':3, 'S':4}
df.fillna(value=values)

In [ ]:


df


# Replace all NaN elements in column ‘P’, ‘Q’, ‘R’, and ‘S’, with 0, 2, 3, and 4 respectively. Only replace the first NaN element:

In [ ]:


df.fillna(value=values, limit=1)

In [ ]:


df

In [ ]:


mean_value=df['Q'].mean()
mean_value

In [ ]:


df['Q'].fillna(value=mean_value, inplace=True)
df


# # Filling missing values using replace()  

# Pandas dataframe.replace() function is used to replace a string, regex, list, dictionary, series, number, etc. 
# Every instance of the provided value is replaced after a thorough search of the full DataFrame.

In [ ]:


df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})
df

In [ ]:


# Scalar `to_replace` and `value`

In [ ]:


df.replace(0, 5)

In [ ]:


df

In [ ]:


df.replace(to_replace=0, value=5) #write keyword argument


# # List-like `to_replace`

In [ ]:


df.replace([0, 1, 2, 3,7], 4)

In [ ]:


df

In [ ]:


df.replace([5,6,7], [50, 60,70])

In [ ]:


df

In [ ]:


df.replace([5,7], method='bfill')


# # dict-like `to_replace`

In [ ]:


df

In [ ]:


df.replace({5: 10, 6: 100})

In [ ]:


df

In [ ]:


df.replace({'A': 0, 'B': 5}, 100)

In [ ]:


df

In [ ]:


df.replace({'A': {0: 100, 4: 400}})


# # Regular expression `to_replace`
# ^ matches position just before the first character of the string
# $ matches position just after the last character of the string
# . matches a single character. Does not matter what character it is, except newline
# * matches preceding match zero or more times
# So, ^.*$ means - match, from beginning to end, any character that appears zero or more times. 
# Basically, that means - match everything from start to end of the string.

In [ ]:


df = pd.DataFrame({'A': ['bat', 'cat', 'bait'],
                   'B': ['abc', 'bar', 'xyz']})

In [ ]:


df

In [ ]:


df.replace(to_replace=r'^ba.$', value='new', regex=True)

In [ ]:


df.replace(to_replace=r'^a..$', value='new', regex=True)


# # Filling missing values using interpolate() 

# When to Use Interpolation?
# We can use Interpolation to find missing value/null with the help of its neighbors. When imputing missing values with average does not fit best, we have to move to a different technique, and the technique is Interpolation.
# 
# Interpolation is mostly used while working with time-series data because, in time-series data, we like to fill missing values with the previous one or two values. for example, suppose temperature, now we would always prefer to fill today’s temperature with the mean of the last 2 days, not with the mean of the month. 

# Linear Interpolation simply means to estimate a missing value by connecting dots in a straight line. In short, It estimates the unknown value in the same increasing order from previous values.
# If the missing value is at the first index, then it will leave it as Nan.
# The default method used by Interpolation is Linear.

In [ ]:


df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                   "B":[None, 2, 54, 3, None],
                   "C":[20, 16, None, 3, 8],
                   "D":[14, 3, None, None, 6]})

In [ ]:


df

In [ ]:


df.interpolate(method ='linear', limit_direction ='forward')

In [ ]:


df.interpolate(method ='linear')

In [ ]:


Use interpolate() function to interpolate the missing values in the backward direction using linear method and putting a limit on maximum number of consecutive Na values that could be filled.

In [ ]:


df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                   "B":[None, 2, 54, 3, None],
                   "C":[20, 16, None, 3, 8],
                   "D":[14, 3, None, None, 6]})
df


# df.interpolate(method ='linear', limit_direction ='backward')
# #Notice the fourth column, only one missing value has been filled as we have put the limit to 1. 
# #The missing value in the last row could not get filled as no row exists after that from which the value could be interpolated.
# 

# # Interpolation with padding:
# Interpolation through padding means copying the value just before a missing entry. While using padding interpolation, you need to specify a limit. The limit is the maximum number of nans the method can fill consecutively. This is always in the forward direction only.

In [ ]:


df

In [ ]:


df.interpolate(method='pad')


# # dropna()
# drop rows with at least one Nan value. 
# If argument inplace is True, it does operation inplace and return None.
# Refer- ppt

In [ ]:


df = pd.DataFrame({"name": ['Anita', 'Babita', 'Sunita'],
                   "toy": [np.nan, 'Bat', 'chess'],
                   "born": [pd.NaT, pd.Timestamp("1999-04-25"),
                            pd.NaT]})

In [ ]:


df