# Initialisation

In [1]:
import pandas as pd
import numpy as np
from IPython.display import HTML

# This makes it so that no indexing is there when displaying the df
def display_df(tp_df=None, index=False):
    tp_df = tp_df if isinstance(tp_df,pd.DataFrame) else df
    display(HTML(tp_df.to_html(index=index)))

<br><br><br>

# 15/02/24

Given a dataset, print the following:
1) Records of index 1 & 3
2) Records where age >= 15
3) Records where age >= 12 and gender = Male
4) City and gender of people with age >= 12

In [2]:
data = {
    'age':            [10,22,13,21,12,11,17],
    'section':        ['A','B','C','B','B','A','A'],
    'city':           ['Gurgaon','Delhi','Mumbai','Delhi','Mumbai','Delhi','Mumbai'],
    'gender':         ['M','F','F','M','M','M','F'],
    'favorite_color': ['red','black','yellow','pink','black','green','red']   
}
df = pd.DataFrame(data)

print('\nOriginal data:')
display_df()

print('\n1) Records of index 1 & 3')
display_df( df.iloc[ [1,3] , : ] )

print('\n2) Records where age >= 15:')
display_df( df.query('age >= 15') )

print('\n3) Records where age >= 12 and gender = Male:')
display_df( df.query('age >= 12 and gender == "M"') )

print('\n4) City and gender of people with age >= 12:')
display_df( df.query('age >= 12')[['city','gender']] )

Original data:

1) Records of index 1 & 3

2) Records where age >= 15:

3) Records where age >= 12 and gender = Male:

4) City and gender of people with age >= 12:

<br><br><br>

# 22/02/24

Create a dataframe to store data of 10 students, with the columns being "Name", "Age", "Semester I marks out of 600", "Semester II marks out of 500", and "Attendance"
1) Display details of students who scored more than 560 marks in sem I
2) Display details of students who scored less than 250 marks in sem II
3) Display details of student who scored minimum marks in sem II
4) Display details of student who scored maximum marks in sem II
5) Display details of students whose attendance is more than 75
6) Display details of students whose attendance is less than 50
7) Insert 2 new records
8) Add a column corresponding to percentage of marks of both semesters
9) Add a new column corresponding to grades:

| Percentage   | Grade |
| ------------ | ----- |
| >=90         | O     |
| >=75 and <90 | A+    |
| >=60 and <75 | A     |
| >=50 and <60 | B+    |
| >=40 and <50 | B     |
| >40          | F     |

In [3]:
data = {
    'Name':                         ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'Age':                          [20, 21, 20, 22, 23, 20, 21, 22, 20, 21],
    'Semester I marks out of 600':  [213, 31, 57, 406, 417, 45, 217, 200, 588, 319],
    'Semester II marks out of 500': [198, 378, 133, 450, 283, 485, 193, 283, 236, 191],
    'Attendance':                   [76, 26, 53, 32, 50, 67, 92, 62, 44, 85]
}
df = pd.DataFrame(data)

print('\nOriginal data:')
display_df()

print('\n1) Students who scored more than 560 marks in sem I:')
ans = df.query('`Semester I marks out of 600` > 560')
display_df(ans, index=True)

print('\n2) Students who scored less than 250 marks in sem II:')
ans = df.query('`Semester II marks out of 500` < 250')
display_df(ans, index=True)

print('\n3) Student who scored minimum marks in sem II:')
min_marks = min(df['Semester II marks out of 500'])
ans       = df.query('`Semester II marks out of 500` == @min_marks')
display_df( ans , index=True )

print('\n4) Student who scored maximum marks in sem II:')
ans = df.sort_values(by='Semester II marks out of 500',ascending=False).head(1)
display_df(ans, index=True)

print('\n5) Students whose attendance is more than 75:')
ans = df.query('Attendance > 75')
display_df(ans, index=True)

print('\n6) Students whose attendance is less than 50:')
ans = df.query('Attendance < 50')
display_df(ans, index=True)

print('\n7) Inserted two new records:')
new_data = {
    'Name':                         ['K', 'L'],
    'Age':                          [22, 23],
    'Semester I marks out of 600':  [300, 400],
    'Semester II marks out of 500': [400, 300],
    'Attendance':                   [80, 40]
}
new_df = pd.DataFrame(new_data)
df     = pd.concat([df,new_df], ignore_index=True)
display_df(index=True)

print('\n8) Added the percentage column:')
df['Percentage'] = (df['Semester I marks out of 600'] + df['Semester II marks out of 500']) / 11
df['Percentage'] = df['Percentage'].apply(lambda x: round(x,2))
display_df()

print('\n9) Added the grade column:')
def get_grade(x: float):
    if   x >= 90: return 'O'
    elif x >= 75: return 'A+'
    elif x >= 60: return 'A'
    elif x >= 50: return 'B+'
    elif x >= 40: return 'B'
    else:         return 'F'
df['Grade'] = df['Percentage'].apply(get_grade)
display_df()

Original data:

1) Students who scored more than 560 marks in sem I:

2) Students who scored less than 250 marks in sem II:

3) Student who scored minimum marks in sem II:

4) Student who scored maximum marks in sem II:

5) Students whose attendance is more than 75:

6) Students whose attendance is less than 50:

7) Inserted two new records:

8) Added the percentage column:

9) Added the grade column:

<br><br><br>

<br><br><br>

<br><br><br>