# Pandas

In [13]:
import pandas as pd
from IPython.display import HTML

# This makes it so that no indexing is there when displaying the df
def display_df(tp_df=None):
    tp_df = tp_df if isinstance(tp_df,pd.DataFrame) else df
    display(HTML(tp_df.to_html(index=False)))

<br>

Converting the datatype of the values of a dataframe

In [ ]:
df = pd.DataFrame({
    'A': ['2','7'],
    'B': ['6','3']
})
print(df.dtypes)

print('\n')

df = df.astype('int64')
print(df.dtypes)

<br>

Transpose of a matrix/dataframe

<br>

Getting the number of NaN values in each column of a dataframe

In [ ]:
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML240EN-SkillsNetwork/labs/data/Ames_Housing_Sales.csv')

dict_nans = {"Column": [], "NaN": []}
for column, nans in zip(df.columns, df.isna().sum()):
    dict_nans["Column"].append(column)
    dict_nans["NaN"].append(nans)

df = pd.DataFrame(dict_nans)
display_df()

<br>

Getting information like the minimum value, max value, count, mean, etc

In [14]:
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML240EN-SkillsNetwork/labs/data/Ames_Housing_Sales.csv')
display_df(df.describe().T)

<br>

Creating/modifying a column based on operations done on other columns (or itself)

In [12]:
# Creating our base dataframe
df = pd.DataFrame({
    'A': [2,7],
    'B': [6,3]
})
display_df()

# Creating a new col based on operations on other existing columns
df['C'] = df['A'] + df['B']
display_df()

# Editing that col based on the value of itself
df['C'] = df['C'] / 2
display_df()

<br>

Combining two dataframes vertically

In [ ]:
df1 = pd.DataFrame({
    'A': [2,4],
    'B': [1,3]
})

df2 = pd.DataFrame({
    'B': [5,7],
    'A': [6,8]
})

combined_df = pd.concat([df1, df2])

display_df(df1)
display_df(df2)
display_df(combined_df)

<br>

Combining two dataframes horizantally

In [ ]:
df1 = pd.DataFrame({
    'A': [2,7],
    'B': [6,3]
})

df2 = pd.DataFrame()
df2['C'] = df1['A'] + df1['B']

combined_df = pd.concat([df1, df2], axis=1)

display_df(df1)
display_df(df2)
display_df(combined_df)

<br>

A way to convert a 2D matrix to a dataframe where the first row is column name

In [ ]:
df = pd.DataFrame([
    ['A','B'],
    [3,4],
    [9,7]
])
display_df()

df.columns = df.iloc[0]
df = df[1:]

display_df()

<br>

Replacing items in dataframes

In [ ]:
df = pd.DataFrame({
    'A': ['A1', '?' , 'A3'],
    'B': ['?' , 'B2', 'B3']
})
display_df()

df.replace(['?'], pd.NA, inplace=True)
display_df()

<br>

Dropping rows containing NA (or any specified value)

In [ ]:
df = pd.DataFrame({
    'A': ['A1' , pd.NA, 'A3'],
    'B': [pd.NA, 'B2' , 'B3']
})
display(df)

df.dropna(inplace=True)
display(df) # Here as we can see, the index number of the row is preserved. To solve that, we can use reset_index method

# df.reset_index?
df.reset_index(inplace=True, drop=True) # drop is by default set to False. So by default, it inserts a new column called "Index"
display(df)

In [ ]:
round(df.describe(),2)

df.decribe(include='object') # This will only describe the columns with object (ie string) datatype
df.describe().T

df_uniques = df.nunique()

binary_cols   = df_uniques[df_uniques == 2].index.tolist()
category_cols = df_uniques[(df_uniques > 2) & (df_uniques <= 10)].index.tolist()

correlations = df[ATTRS].corrwith(df['SalePrice'])
correlations.sort_values(inplace=True)

<br><br><br><br><br>

# Numpy

In [2]:
import numpy as np

start   = 1
end     = 100
n_elems = 100

print(np.linspace(start, end, n_elems))

[  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.
  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.  28.
  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.  42.
  43.  44.  45.  46.  47.  48.  49.  50.  51.  52.  53.  54.  55.  56.
  57.  58.  59.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.  70.
  71.  72.  73.  74.  75.  76.  77.  78.  79.  80.  81.  82.  83.  84.
  85.  86.  87.  88.  89.  90.  91.  92.  93.  94.  95.  96.  97.  98.
  99. 100.]

In [ ]:
np.arange()

<br><br><br><br><br>

<br><br><br><br><br>

<br><br><br><br><br>