In [2]:
import pandas as pd
import numpy as np
from IPython.display import HTML, Markdown, Latex
def display_df(tp_df=None, index=False):
    # tp_df = tp_df if isinstance(tp_df,pd.DataFrame) else df
    tp_df = tp_df if tp_df is not None else df
    display(Markdown(tp_df.to_markdown(index=index)))

<br><br><br>

# Q1) Given employee.csv, do the following: 
1. WAP to display the shape of employee.csv file
2. WAP to display Name, Age and Salary from employee.csv
3. WAP to display only 5 records from employee.csv
4. WAP to display records without header
5. WAP to display employee.csv file without index numbers
6. WAP to display employee.csv file with new column names
7. WAP to modify the employee name from Mahima to Harsh
8. WAP to create a new CSV file by copying the contents of employee.csv
9. WAP to create a duplicate file for employee.csv containing Empid and Employee Name

In [24]:
df = pd.read_csv('employee.csv')

# Q1) WAP to display the shape of employee.csv file
print(f'1: {df.shape}')
# Q2) WAP to display Name, Age and Salary from employee.csv
print('\n2:')
display_df(df[['Name','Age','Sal']])
# Q3) WAP to display only 5 records from employee.csv
print('\n3:')
display_df(df.head())
# Q4) WAP to display records without header
print('\n4:')
print(df.to_string(header=False))
# Q5) WAP to display employee.csv file without index numbers
print('\n5:')
print(df.to_string(index=False))
# Q6) WAP to display employee.csv file with new column names
print('\n6:')
display_df( df.rename(columns=lambda x: f'New {x}') )
# Q7) WAP to modify the employee name from Mahima to Harsh
print('\n7:')
display_df( df.replace({'Mahima':'Harsh'}) )
# Q8) WAP to create a new CSV file by copying the contents of employee.csv
df.to_csv('employee_new.csv')
# Q9) WAP to create a duplicate file for employee.csv containing Empid and Employee Name
df[['empid','Name']].to_csv('employee_truncated.csv')

1: (7, 5)

2:

| Name    |   Age |   Sal |
|:--------|------:|------:|
| Ritesh  |    25 | 15000 |
| Akash   |    26 | 16000 |
| Mahima  |    27 | 20000 |
| Lakshay |    28 | 18000 |
| Manu    |    25 | 25000 |
| Nidhi   |    26 | 22000 |
| Geetu   |    30 | 28000 |

3:

|   empid | Name    |   Age | City      |   Sal |
|--------:|:--------|------:|:----------|------:|
|     100 | Ritesh  |    25 | mumbai    | 15000 |
|     101 | Akash   |    26 | Goa       | 16000 |
|     102 | Mahima  |    27 | Hyderabad | 20000 |
|     103 | Lakshay |    28 | Delhi     | 18000 |
|     104 | Manu    |    25 | Mumbai    | 25000 |

4:
0  100   Ritesh  25     mumbai  15000
1  101    Akash  26        Goa  16000
2  102   Mahima  27  Hyderabad  20000
3  103  Lakshay  28      Delhi  18000
4  104     Manu  25     Mumbai  25000
5  105    Nidhi  26      Delhi  22000
6  106    Geetu  30  Bangaluru  28000

5:
 empid    Name  Age      City   Sal
   100  Ritesh   25    mumbai 15000
   101   Akash   26       Goa 16000
   102  Mahima   27 Hyderabad 20000
   103 Lakshay   28     Delhi 18000
   104    Manu   25    Mumbai 25000
   105   Nidhi   26     Delhi 22000
   106   Geetu   30 Bangaluru 28000

6:

|   New empid | New Name   |   New Age | New City   |   New Sal |
|------------:|:-----------|----------:|:-----------|----------:|
|         100 | Ritesh     |        25 | mumbai     |     15000 |
|         101 | Akash      |        26 | Goa        |     16000 |
|         102 | Mahima     |        27 | Hyderabad  |     20000 |
|         103 | Lakshay    |        28 | Delhi      |     18000 |
|         104 | Manu       |        25 | Mumbai     |     25000 |
|         105 | Nidhi      |        26 | Delhi      |     22000 |
|         106 | Geetu      |        30 | Bangaluru  |     28000 |

7:

|   empid | Name    |   Age | City      |   Sal |
|--------:|:--------|------:|:----------|------:|
|     100 | Ritesh  |    25 | mumbai    | 15000 |
|     101 | Akash   |    26 | Goa       | 16000 |
|     102 | Harsh   |    27 | Hyderabad | 20000 |
|     103 | Lakshay |    28 | Delhi     | 18000 |
|     104 | Manu    |    25 | Mumbai    | 25000 |
|     105 | Nidhi   |    26 | Delhi     | 22000 |
|     106 | Geetu   |    30 | Bangaluru | 28000 |

<br><br><br>